#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; 
    height: 100vh; 
    overflow-y: auto;
    background-color: #343a40;
    color: #fff; 
    padding: 15px;
  }
  
  .sidebar-nav-link {
    color: #fff;
    margin-bottom: 10px;
  }
  
  .nav-link:hover {
    background-color: #495057; 
  }
  