.signup-container {

  background: url('C:/Users/Kshit/Desktop/CropConnect/frontend/crop-connect/src/assets/signupPageBgImg.jpg') no-repeat center center/cover;


}

.card {
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 10px;
}

.card-body {
  padding: 2rem;
}

.form-label {
  font-weight: bold;
}

.text-danger {
  color: #dc3545;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="radio"],
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ced4da;
  font-size: 1rem;
}

input[type="radio"] {
  width: auto;
  margin-right: 0.5rem;
}

button {
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
